
{% extends "posts/index.html" %}
{% load static %}

<!doctype html>
<html>

<head>
    {% block head %}
        <link rel="stylesheet" type="text/css" href="{% static 'posts/top.css' %}">
        <link href="https://fonts.googleapis.com/css?family=Sawarabi+Mincho" rel="stylesheet">
        <link rel="stylesheet" type="text/css" href="{% static 'posts/review.css' %}">
        <title>{{ review.title }}</title>
    {% endblock head %}
</head>

<body>
{% block title %}
    <div class="book-info">b
        <div class="book-detail">
            <h1><p>{{ book.title }}({{ book.author }})</p></h1>
        </div>
    </div>
    <div class="userinfo">
        <img src="{% static user.imagechoice %}" width="55px" class="icon" alt="icon" align="middle">
        <p class="username">{{ user.username }}</p>
    </div>
{% endblock %}
{% block review %}
    <p class="review-title">{{ review.title }}</p>
    <br>
    <p class="review">{{ review.review }}</p>
    <br><br>
    {% if user.is_authenticated %}
        {% if user == review.user_id %}
            <div class="review-edit">
                <form action="{% url 'review_edit' id %}">
                    <input id = 'review_edit' type="submit" value="書評を編集する"/>
                </form>
            </div>
        {% endif %}
    {% endif %}
{% endblock %}

